.wraper {
   min-height: 100%;
	overflow: hidden;
}

body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   background-color: rgb(245, 245, 245);
   color: rgb(63, 35, 5);
}

.navbar {
   font-family: 'Montserrat';
   background-color: #113d23a0;
   font-size: 1.2rem;
   font-weight: semi-bold;
   color: white;
}

.navbar-brand {
   padding-left: 1%;
}

.nav-item {
   padding-left: 1.3rem;
}

.top-container {
   padding-top: 70px;
   padding-bottom: 20px;
   background-color: rgb(242, 234, 211);
}

h1 {
   margin: 0 auto;
   font-family: 'Sacramento';
   font-size: 5.525rem;
   font-weight: bold;
   margin: 3.125rem auto 0 auto;
   color: rgb(63, 35, 5);
   }

h2 {
   font-family: 'Montserrat';
   font-size: 1.8rem;
   font-weight: semi-bold;
   margin-top: -30px;
   padding-top: 20px;
   color: rgb(63, 35, 5);
   text-align: center;
}

h2.skills {
   padding-bottom: 3%;
   font-weight: 500;
   font-size: 2.3rem;
}

h3 p {
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   margin-top: -30px;
   padding-top: 20px;
   color: rgb(63, 35, 5);
   text-align: left;
   font-size: 1rem;
   line-height: 1rem;
}

a {
   color: rgb(63, 35, 5);
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
}

a:hover {
   color: white;
}

hr {
   border: dotted rgb(63, 35, 5) 3px;
   margin-bottom: 4%;
   width: 5%;
   border-bottom: none;
   margin-left: 50%;
}

.premiddle-img {
   margin-bottom: 40px;
   border-radius: 10%;
}

.premiddle-container {
   background-color: white;
   padding-bottom: 2%;
}

.middle-container {
   margin: 0 auto;
   padding-top: 50px;
   background-color: rgb(242, 234, 211);
   max-width: 1400px;
   }

.profile-img {
   border-radius: 50%;
   width: 200px;
}

/* SKILLS & Experience*/

#skills-innerlink {
   margin-top: 2rem;
}

.row-skills {
   padding-bottom: 3rem;
}

.skills {
   padding-bottom: 3%;
   font-weight: 500;
   font-size: 2.3rem;
   font-family: 'Montserrat', sans-serif;
}

.recent-exp {
   text-align: left;
   font-size: 1.2rem;
   font-family: 'Montserrat', sans-serif;
   position: relative;
   width: 80%;
}

.image-skill, .soft-skill-img {
   color: rgba(93, 137, 49, 0.481);
}

.image-skill:hover, .soft-skill-img:hover {
   color: #113d23a0;
}

/*Past working experience*/

.lawyer-box {
   text-align: left;
   font-size: 1.2rem;
   font-family: 'Montserrat', sans-serif;
   position: relative;
   right: 3%;
   width: 75%;
   max-width: 1400px;
}

.lawyer-img {
   margin: 3% 50% 3% 24%;
}

/* Soft-hard skills */
.hard-skills-box {
   text-align: left;
   font-size: 1.2rem;
   font-family: 'Montserrat', sans-serif;
   position: relative;
   bottom: 35px;
   margin-top: 30px;
}

.soft-img {
   width: 5%;
}

.soft-hardskills {
   width: 90%;
   margin: 0 auto;
   padding-bottom: -43rem;
}

.description-skill {
text-align: left;
font-size: 1.2rem;
font-family: 'Montserrat', sans-serif;
position: relative;
right: 1rem;
bottom: 35px;
margin-top: 30px;
}

.soft-skill-img {
   width: 2%;
   position: relative;
   right: 2rem;
}

/*hobbies*/
.hobbies {
   width: 80%;
   margin: 0 auto;
   padding-bottom: 3rem;
}

/* Contacts */
.contacts-box {
   width: 60%;
   margin: 0 auto;
   max-width: 900px;
   font-family: 'Montserrat', sans-serif;
}

.contact-img {
   display: inline-block;
   position: relative;
   bottom: 12px;
}

.envelope-img, .linkedin-img {
   color: #113d234d;
}

.envelope-img:hover, .linkedin-img:hover {
   color:  #113d23a0;
}

.contact-me {
   margin: 2rem 0;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   color: rgb(63, 35, 5);
}

 .contact-link {
   font-family: 'Merriweather', serif;
   font-size: 1.2rem;
   font-weight: bold;
   margin-top: -30px;
   padding-top: 20px;
   background-color: #113d23a0;
   text-align: center;
}

.bottom-container {
   background-color: #113d23a0;
   padding: 20px 0 10px 10px;
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   color: white;
}
